.ItemTable {
    * {
        box-sizing: border-box;
        transition: filter 0.25s ease-in-out, object-position 0.5s ease-out,
            background-color 0.25s ease-in-out;
    }
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem 0;
}
