.ResponseFrame {
    height: 5em;
    width: 100%;

    // sakura.cssのスタイル
    color: #4a4a4a;
    padding: 6px 10px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;

    &:focus {
        border: 1px solid #2c8898;
        outline: 0;
    }
}
