@import "~yakuhanjp/dist/css/yakuhanjp.min.css";

* {
    box-sizing: border-box;
}

html {
    background: #fff;
    font-family: "YakuHanJP", "Meiryo", "Open Sans", sans-serif;
}

body {
    max-width: 90%;
    margin: auto;
}

.transition {
    transition: all 0.1s ease-in;
}
